html {
    padding: 0;
    line-height: 1.2;
    font-size: 16px;
    color: #212121;
    overflow-x: hidden;
    background-image: url("/assets/images/background.png");
    background-size: 223.5px 208.5px;
}

* {
    -webkit-margin-collapse: separate;
}

a {
    color: #2196F3;
}

.pagewrap {
    margin: 7px;
}

h1 {
    font-family: 'Product Sans', Arial, sans-serif;
    color: #4d4d4d;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

h2 {
    font-family: 'Product Sans', Arial, sans-serif;
    color: #666666;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.section {
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 20px;
    padding-top: 10px;
    margin: 7px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.leftwrap {
    width: fit-content;
}

.main {
    overflow-x: hidden;
}

iframe {
    border: none;
}

.uploadmask {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 16px;
    background: red;
    opacity: 0;
    height: 15px;
    z-index: 1;
}

.uploadmaskwrap {
    position: relative;
    width: 0;
    height: 0;
    cursor: pointer
}

.btn {
    font-weight: 500;
}

/* Bookmarks */

.bookmarkcontainer {
    display: flex;
    flex-wrap: wrap;
}

.bookmarks {
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 10px;
    margin: 7px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    min-width: 235px;
    font-family: 'Product Sans', Arial, sans-serif;
    color: #666666;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: transform .15s ease-in-out;
    transform: scale(1);
}

.bookmarks:hover {
    transition: transform .15s ease-in-out;
    transform: scale(1.035);
}

/* Games section */

.games {
    margin: 0 auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.preview {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    width: 10vw;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .15s ease-in-out;
    transform: scale(1);
}

.play:hover {
    transition: transform .15s ease-in-out;
    transform: scale(1.035);
}

.leftsection {
    display: block;
    margin: 7px;
    text-align: center;
    border-radius: 5px;
    float: left;
    clear: left;
    width: 20vw;
    min-width: 250px;
    max-width: 300px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    background-color: #F5F5F5;
}

/* Accordion */

.accordionwrap {
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

button.accordion {
    background-color: #EBEBEB;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 500;
}

button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Bookmarklet */

.bookmarklet {
    color: #2196F3;
    text-decoration: none;
    border: 1.5px solid #2196F3;
    border-radius: 3.5px;
    background-color: #fff;
    transform: scale(1.15);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

.bookmarkletdiv {
    width: fit-content;
    line-height: 0;
    margin: 0 auto;
}

/* Navigation */

.navigation {
    display: block;
    margin: 7px;
    text-align: center;
    border-radius: 5px;
    float: left;
    clear: left;
    width: 20vw;
    min-width: 250px;
    max-width: 300px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    background-color: #F5F5F5;
}

/* Return to top */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: background 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 14px;
    font-size: 19px;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.8);
}

#return-to-top:hover i {
    color: #fff;
    top: 7.5px;
}
